<!DOCTYPE html>
<html>
<head>
  <title>Friendcircle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <% if flash[:notices]%>
    <% flash[:notices].each do |notice| %>
      <%= notice %>
    <% end %>
  <% end %>

<%= yield %>

<% if logged_in? %>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token"
            value="<%= form_authenticity_token %>" >
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="logout" value="Log Out">
</form>
<% end %>
</body>
</html>
